body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  text-align: center;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  background-color: lightseagreen;
  border-radius: 0px 5px 5px 5px;
  border-style: ridge;
}

p {
  text-align: center;
  background-color: lightseagreen;
  border-radius: 5px 5px 5px 5px;
  border-style: ridge;
  margin-left: 50px;
  margin-right: 50px;
  font-size: medium;
}

div{
  border-style: groove;
  border-radius: 5px 5px 5px 5px;
  background-color: lightgrey;
}

button{
  justify-content: center;
  text-align: center;
  background-color: lightgreen;
  border-radius: 5px 5px 5px 5px;
}